{% extends 'webkiosk/base.html' %} {% block body %}

<main class="wide">
  <div class="header-main">
    <h1>Foods</h1>
    <a href="{% url 'webkiosk:foods_new' %}">
      <button class="button-primary">Add food</button>
    </a>
  </div>

  <div class="box" id="food-list">
    <span class="label">ID</span>
    <span class="label">Name</span>
    <span class="label">Price</span>
    <span></span>
    <span></span>
    <span></span>

    {% for food in foods %}

    <span>{{ food.pk }}</span>
    <span>{{ food.name }}</span>
    <span>Php {{ food.price }}</span>
    <span><a href="{% url 'webkiosk:foods_show' food.pk %}">Show</a></span>
    <span><a href="{% url 'webkiosk:foods_edit' food.pk %}">Edit</a></span>
    <span><a href="{% url 'webkiosk:foods_delete' food.pk %}">Delete</a></span>

    {% endfor %}
  </div>
</main>

{% endblock body %}
