{% extends 'webkiosk/base.html' %} {% block body %}

<h1>Foods</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  {% for food in foods %}
  <tr>
    <td>{{ food.pk }}</td>
    <td>{{ food.name }}</td>
    <td>{{ food.price }}</td>
    <td><a href="{% url 'webkiosk:foods_show' food.pk %}">Show</a></td>
    <td><a href="{% url 'webkiosk:foods_edit' food.pk %}">Edit</a></td>
    <td><a href="">Delete</a></td>
  </tr>
  {% endfor %}
</table>

<a href="{% url 'webkiosk:foods_new' %}">Add food</a>

{% endblock body %}
