{% extends 'webkiosk/base.html' %} {% block body %}

<h1>Customers</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Full name</th>
    <th>City</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  {% for customer in customers %}
  <tr>
    <td>{{ customer.pk }}</td>
    <td>{{ customer.firstname }} {{ customer.lastname }}</td>
    <td>{{ customer.city }}</td>
    <td><a href="{% url 'webkiosk:customers_show' customer.pk %}">Show</a></td>
    <td><a href="{% url 'webkiosk:customers_edit' customer.pk %}">Edit</a></td>
    <td>
      <a href="{% url 'webkiosk:customers_delete' customer.pk %}">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>

<a href="{% url 'webkiosk:customers_new' %}">Add customer</a>

{% endblock body %}
