{% extends 'webkiosk/base.html' %} {% block body %}
<main>
  <div class="box">
    <h1>{{ customer.firstname }} {{ customer.lastname }}</h1>

    <div class="two-column-details">
      <span class="label">ID</span>
      <span>{{ customer.pk }}</span>

      <span class="label">First name</span>
      <span>{{ customer.firstname }}</span>

      <span class="label">Last name</span>
      <span>{{ customer.lastname }}</span>

      <span class="label">Address</span>
      <span>{{ customer.address }}</span>

      <span class="label">City</span>
      <span>{{ customer.city }}</span>
    </div>

    <div class="customer-view-orders">
      <h2>{{ customer.firstname }} {{ customer.lastname }}'s orders</h2>

      <div>
        <span class="label">ID</span>
        <span class="label">Date and time</span>
        <span class="label">Total price</span>
        <span></span>

        {% for order in customer.orders %}

        <span>{{ order.pk }}</span>
        <span>{{ order.orderdatetime }}</span>
        <span>{{ order.totalprice }}</span>
        <span
          ><a href="{% url 'webkiosk:orders_show' order.pk %}">Show</a></span
        >

        {% endfor %}
      </div>
    </div>
  </div>
</main>

{% endblock body %}
