{% extends 'webkiosk/base.html' %} {% block body %}

<h1>{{ customer.firstname }} {{ customer.lastname }}</h1>

<table>
  <tr>
    <th>ID</th>
    <td>{{ customer.pk }}</td>
  </tr>
  <tr>
    <th>First name</th>
    <td>{{ customer.firstname }}</td>
  </tr>
  <tr>
    <th>Last name</th>
    <td>{{ customer.lastname }}</td>
  </tr>
  <tr>
    <th>Address</th>
    <td>{{ customer.address }}</td>
  </tr>
  <tr>
    <th>City</th>
    <td>{{ customer.city }}</td>
  </tr>
</table>

<h2>{{ customer.firstname }} {{ customer.lastname }}'s orders</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Date and time</th>
    <th>Total price</th>
    <th></th>
  </tr>
  {% for order in customer.orders %}
  <tr>
    <td>{{ order.pk }}</td>
    <td>{{ order.orderdatetime }}</td>
    <td>{{ order.totalprice }}</td>
    <td><a href="{% url 'webkiosk:orders_show' order.pk %}">Show</a></td>
  </tr>
  {% endfor %}
</table>

{% endblock body %}
