{% extends 'webkiosk/base.html' %} {% block body %}

<h1>Are you sure you want to delete this order?</h1>

<table>
  <tr>
    <th>ID</th>
    <td>{{ order.pk }}</td>
  </tr>
  <tr>
    <th>Date and time of order</th>
    <td>{{ order.orderdatetime }}</td>
  </tr>
  <tr>
    <th>Payment mode</th>
    <td>{{ order.paymentmode }}</td>
  </tr>
  <tr>
    <th>Customer</th>
    <td>
      <a href="{% url 'webkiosk:customers_show' order.customer.pk %}">
        {{ order.customer.firstname }} {{ order.customer.lastname }}
      </a>
    </td>
  </tr>
  <tr>
    <th>Food</th>
    <td>
      <a href="{% url 'webkiosk:foods_show' order.food.pk %}">
        {{ order.food.name }}
      </a>
    </td>
  </tr>
  <tr>
    <th>Quantity</th>
    <td>{{ order.quantity }}</td>
  </tr>
  <tr>
    <th>Total price of order</th>
    <td>{{ order.totalprice }}</td>
  </tr>
</table>

<form action="{% url 'webkiosk:orders_destroy' order.pk %}" method="post">
  {% csrf_token %}
  <input type="submit" value="Delete order" />
</form>

{% endblock body %}
