{% extends 'webkiosk/base.html' %} {% block body %}

<h1>Orders</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Customer's full name</th>
    <th>Date and time of order</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  {% for order in orders %}
  <tr>
    <td>{{ order.pk }}</td>
    <td>{{ order.customer.firstname }} {{ order.customer.lastname }}</td>
    <td>{{ order.orderdatetime }}</td>
    <td><a href="{% url 'webkiosk:orders_show' order.pk %}">Show</a></td>
    <td><a href="">Edit</a></td>
    <td><a href="">Delete</a></td>
  </tr>
  {% endfor %}
</table>

<a href="{% url 'webkiosk:orders_new' %}">Add order</a>

{% endblock body %}
