{% extends 'webkiosk/base.html' %} {% block body %}

<h1>Orders</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Customer's Full Name</th>
    <th>Date and Time of Order</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  {% for order in orders %}
  <tr>
    <td>{{ order.pk }}</td>
    <td>{{ order.customer.firstname }} {{ order.customer.lastname }}</td>
    <td>{{ order.orderdatetime }}</td>
    <td><a href="">Show</a></td>
    <td><a href="">Edit</a></td>
    <td><a href="">Delete</a></td>
  </tr>
  {% endfor %}
</table>

<a href="">Add Order</a>

{% endblock body %}
