{% extends 'webkiosk/base.html' %} {% block body %}

<main class="wide">
  <div class="header-main">
    <h1>Orders</h1>
    <a href="{% url 'webkiosk:orders_new' %}">
      <button class="button-primary">Add order</button>
    </a>
  </div>

  <div class="box" id="order-list">
    <span class="label">ID</span>
    <span class="label">Customer</span>
    <span class="label">Date and time</span>
    <span></span>
    <span></span>
    <span></span>

    {% for order in orders %}
    <span>{{ order.pk }}</span>
    <span>{{ order.customer.firstname }} {{ order.customer.lastname }}</span>
    <span>{{ order.orderdatetime }}</span>
    <span><a href="{% url 'webkiosk:orders_show' order.pk %}">Show</a></span>
    <span><a href="{% url 'webkiosk:orders_edit' order.pk %}">Edit</a></span>
    <span
      ><a href="{% url 'webkiosk:orders_delete' order.pk %}">Delete</a></span
    >
    {% endfor %}
  </div>
</main>

{% endblock body %}
