{% extends 'webkiosk/base.html' %} {% block body %}

<main class="wide">
  <section class="hero">
    <h1>grubfood</h1>
    <p>
      grubfood is Northwest Asia's leading food delivery service - delivering
      food and drinks to trillions of consumers every day.
    </p>
  </section>
  <section id="why-grub" class="box">
    <h2>Why choose grubfood</h2>
    <h3>More variety</h3>
    <p>
      Because we bully our partner restaurants into signing exclusive deals with
      us by threatening to remove them from our platform with trillions of daily
      users, grubfood has more variety than any of its competitors by a
      landslide. Explore our restaurants and find your new favorites!
    </p>
    <h3>Cheaper</h3>
    <p>
      You deliveries are subsidized by the VCs backing us! Even if we burn more
      and more money each year, our growth rises at the same rate so investors
      are happy. Deals on grubfood are so good that sometimes we even pay you to
      get food delivered!
    </p>
  </section>
</main>
<footer>
  <div id="footer-grub-technologies">
    <span><b>Grub Technologies</b></span>
    <span>Really Tall Tower</span>
    <span>42 Street Avenue</span>
    <span>No Name City</span>
  </div>
  <div>
    <span><b>grubfood</b></span>
    <span>News</span>
    <span>App</span>
    <span>What's New</span>
    <span>For Business</span>
    <span>Environment</span>
  </div>
  <div>
    <span><b>grubmart</b></span>
    <span>News</span>
    <span>App</span>
    <span>What's New</span>
    <span>For Business</span>
    <span>Environment</span>
  </div>
  <div>
    <span><b>grubrewards</b></span>
    <span>News</span>
    <span>App</span>
    <span>What's New</span>
    <span>For Business</span>
    <span>Environment</span>
  </div>
  <div>
    <span><b>grubexpress</b></span>
    <span>News</span>
    <span>App</span>
    <span>What's New</span>
    <span>For Business</span>
    <span>Environment</span>
  </div>
  <div>
    <span><b>grubpay</b></span>
    <span>News</span>
    <span>App</span>
    <span>What's New</span>
    <span>For Business</span>
    <span>Environment</span>
  </div>
  <div>
    <span><b>grubgifts</b></span>
    <span>News</span>
    <span>App</span>
    <span>What's New</span>
    <span>For Business</span>
    <span>Environment</span>
  </div>
</footer>

{% endblock body %}
